
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
*.pyc
.Python

# Django
local.env
db.sqlite3
share/
src/

# Virtualenv
bin/
include/
lib/
pip-selfcheck.json
.venv
venv/
ENV/
