
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
*.pyc
.Python
.DS_Store

# Django
.env
local.env
db.sqlite3
share/
src/
static/CACHE


# Virtualenv
bin/
include/
lib/
pip-selfcheck.json
.venv
venv/
ENV/
