container_commands:
  01migrate:
    command: python manage.py migrate --noinput
  02staticperms:
    command: mkdir -p /var/www/static && chown wsgi:root /var/www/static && chmod 775 /var/www/static
  03collectstatic:
    command: python manage.py collectstatic --noinput
  04compress:
    command: python manage.py compress
option_settings:
  aws:elasticbeanstalk:application:environment
    DJANGO_SETTINGS_MODULE: ebdjango.settings.aws
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
